/* To use google fonts:

font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;

*/

* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body {
	background-color: #E9EEE6;
}

main {
	position: relative;
	top: 60px;
}

nav {
	display: inline-flex;
	justify-content: center;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
	width: 100%;
	height: 60px;
	top: 0;
}

nav ul li {
	display: inline-block;
	border: solid 1px lightgray;
	padding: 10px;
	margin: 10px 20px;
	font-weight: bold;
	width: 150px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8rem;
}

.heading {
	border: 2px solid lightgray;
	margin: 30px;
	text-align: center;
	padding: 60px;
	background-color: rgba(255, 255, 255, 0.75);
}

.heading h2 {
	color: darkgray;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.container {
	display: inline-flex;
	justify-content: center;
	align-items: flex-start;
}

.colours {
	border: 2px solid lightgray;
	margin: 30px;
	text-align: center;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.75);

}

.container div {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	margin: 30px;
}

.base-colour {
	background-color: #E9EEE6;
}

.main-colour {
	background-color: #9EB599;
}

.accent-1 {
	background-color: #597B5C;
}

.accent-2 {
	background-color: #B5999D;
}

.base-colour-peach {
	background-color: #FFF2F4;
}

.main-colour-peach {
	background-color: #FFC0B9;
}

.accent-1-peach {
	background-color: #FF8679;
}

.accent-2-peach {
	background-color: #fff88a;
}

.fonts {
	border: 2px solid lightgray;
	margin: 30px;
	text-align: center;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.75);
}

.fonts div {
	display: inline-block;
	border: 1px solid black;
	margin: 20px 30px;
	padding: 20px;
}

.text-styles {
	border: 2px solid lightgray;
	margin: 30px;
	text-align: center;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.75);
}

.text-styles div {
	display: inline-block;
	border: 1px solid black;
	margin: 20px 30px;
	padding: 20px;
	width: 300px;
	height: 200px;
}